@font-face {
  font-family: 'DIGITAL';
  src: url('https://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}

html {
  height: 100%;
  background: radial-gradient(#000, #555);
}

.digital-clock {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 60px;
  color: #ffffff;
  border: 2px solid #999;
  border-radius: 4px;
  text-align: center;
  font: 50px/60px 'DIGITAL', Helvetica;
  background: linear-gradient(90deg, #000, #555);
}